{
  "Rules": [
    {
      "ID": "S3_to_Glacier_Rule_{{ s3_bucket }}",
      "Filter": {
        "Prefix": "{{ s3_bucket }}"
      },
      "Status": "{{ lifecycle_status }}",
      "Transitions": [
        {
          "Days": {{ idle_days }},
          "StorageClass": "GLACIER"
        }
      ],
      "Expiration": {
        "Days": {{ expire_in_days }}
      }
    }
  ]
}
